#booking-card {
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

/* .ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
    width : 300px !important;
    margin: 20px !important;
}

.ui.form .inline.field> :first-child,
.ui.form .inline.fields .field> :first-child {
    margin   : 0 .85714286em 0 0;
    font-size: 14px;
}

.ui.form .inline.field> :first-child,
.ui.form .inline.fields .field> :last-child {
    font-size: 14px !important;
    margin-right: 0px;
} */
