@import '~antd/dist/antd.css';
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing   : grayscale;
    background-color:hsl(hue, saturation, lightness) !important;
    
}
#profile-item {
    clear: both;
    margin: 0;
    padding: 5px 12px;
    color: rgba(0, 0, 0, 0.65) !important;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
i.icon {
    margin-right: 10px !important;
}

#app-logo {
     padding-left: 8%;
    font-size: 20px;
    font-weight: bold;
}
#topbar {
    margin-left: 12.5% !important;
    padding-right: 12.5%;
}
#sidebar {
    position        : fixed;
    height          : 100vh;
    background-color: teal;
    /* padding-top  : 45px; */
    margin-top      : 0px;
    padding-left    : 0;
    padding-right   : 0;
    box-shadow      : 2px 0 6px rgba(0, 21, 41, .35);
    z-index         : 102;
}

#sidebar .ui.menu>a.item {
    padding      : 10px 20px;
    line-height  : 30px;
    /* color     : whitesmoke; */
    border-radius: 0 !important;
    margin-top   : 0;
    margin-bottom: 0;
}

#sidebar .ui.menu>a.item.active {
    /* background-color: #337ab7; */
    /* color           : white; */
    border             : none !important;
}

/* #sidebar .ui.menu > a.item:hover {
    background-color: #eee;
    color           : #23527c;
    } */

#content {
    padding-top     : 52px;
    padding-left    : 0px;
    padding-right   : 0px;
    background-color: #f3f4f5;
}

#content h1 {
    font-size: 36px;
}

#content .ui.dividing.header {
    width: 100%;
}

.ui.centered.small.circular.image {
    margin-top   : 14px;
    margin-bottom: 14px;
}

.ui.borderless.menu {
    box-shadow   : none;
    flex-wrap    : wrap;
    border       : none;
    padding-left : 0;
    padding-right: 0;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: flex;
}